.favorites__image {
  max-width: 100%;
}

.favorites__title {
  align-self: center;
}

.favorites__rowTitle {
  display: flex;
  align-items: center;
}

.favorites__albumImage {
  max-width: 3em;
  margin-right: 0.5em;
}

.favorites__rowAlbum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 426px) {
  .favorite__head {
    flex-direction: column;
  }

  .favorites__image_container,
  .favorites__title {
    text-align: center;
  }

  .favorites__albumImage {
    display: none;
  }
}
