.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  position: sticky;
  top: 0;
  background: black;
  z-index: 100;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__button {
  color: white !important;
}
