@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* CSS Colors */
  --main-black: #121212;
  --main-green: #10bc4c;
  --darker-green: #12923f;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-green);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darker-green);
}
